<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>303200411249-bcnlm5ns6ddn44c7nhudv3phf5ivfv0a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.303200411249-bcnlm5ns6ddn44c7nhudv3phf5ivfv0a</string>
	<key>API_KEY</key>
	<string>AIzaSyDS8Ds0IitG1vFtUFzhBkyjyWcPYhRpKkw</string>
	<key>GCM_SENDER_ID</key>
	<string>303200411249</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.impact.chain</string>
	<key>PROJECT_ID</key>
	<string>impactchain-c3798</string>
	<key>STORAGE_BUCKET</key>
	<string>impactchain-c3798.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:303200411249:ios:cc7c0192f3535a383b45d0</string>
</dict>
</plist>